* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}
.app {
  height: 100%;
  width: 100%;
  margin-top: 10%;
 
}

.flex-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  width: 60%;
}
.flex-item {
  display: flex;
  width: 100%;
  gap: 10px;
}

.flex-item input {
  width: 90%;
  border: lightgrey 2px solid;
}
.flex-item button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.flex-item button > p {
  margin-right: 5px;
  font-size: 1.5rem;
  font-weight: 600;
}

.citiesContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  gap: 20px;
  min-height: 600px;
}
.cityBox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 15px;
  width: 31%;
  height: 180px;
  border: 2px solid black;
  overflow: hidden;
  background-color: lightgrey;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head p {
  display: flex;
  padding-right: 5px;
}

.temperature {
  width: 100%;
  font-weight: 600;
  font-size: 4em;
  line-height: 0.9;
}

.trash {
  position: absolute;
  right: 0;
  bottom: 2px;
}
.trash-icon:hover {
  color: blue;
}

.filterContainer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterContainer button {
  padding: 0.2rem 0.4rem;
  border: 2px solid gray;
  margin-left: 10px;
}
.filterContainer input {
  padding: 0.2rem 0.4rem;
  border: 2px solid gray;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .temperature {
    font-size: 2em;
  }
  .heading {
    padding: 0 5px;
  }
  .row {
    width: 100%;
  }
  .cityBox {
    width: 48%;
    padding-left: 0px;
    padding: 2px;
    margin: auto;
  }
  .citiesContainer {
    padding: 0;
    gap: 1px;
    min-height: 0px;
  }
  .flex-item {
    padding: 0 5px;
  }
  .flex-item input {
    width: 80%;
  }
  .flex-item button {
    width: 20%;
  }
}
