body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}
.layout {
  width: 100%;
  height: 100%;
  flex: 1 1 0%;
}
.app {
  height: 100%;
  width: 100%;
  margin-top: 10%;
}

.flex-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  width: 60%;
}
.heading {
  margin-bottom: 5px;
}
.flex-item {
  display: flex;
  width: 100%;
  gap: 10px;
}

.flex-item input {
  width: 90%;
  border: lightgrey 2px solid;
}
.flex-item button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  font-weight: 800;
  font-size: small;
}
.flex-item button:hover {
  background-color: rgb(109, 173, 173);
  color: white;
}

.flex-item button > p {
  margin-right: 5px;
  font-size: 1.5rem;
  font-weight: 600;
}

.citiesContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  gap: 20px;
  margin-bottom: 100px;
}
.cityBox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 15px;
  width: 31%;
  height: 180px;
  border: 2px solid black;
  overflow: hidden;
  background-color: lightgrey;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head p {
  display: flex;
  padding-right: 5px;
}

.temperature {
  width: 100%;
  font-weight: 600;
  font-size: 4em;
  line-height: 0.9;
}

.trash {
  position: absolute;
  right: 0;
  bottom: 2px;
}
.trash-icon:hover {
  color: blue;
}

.filterContainer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterContainer button {
  padding: 0.2rem 0.4rem;
  border: 2px solid gray;
  display: flex;
  align-items: center;
  gap: 5px;
}
.filterContainer input {
  padding: 0.2rem 0.4rem;
  border: 2px solid gray;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  gap: 20px;
  font-size: x-large;
}
footer {
  margin-top: auto;
}
.footerNav {
  margin-top: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.footerNav p {
  font-weight: 600;
  font: 1.5em sans-serif;
}
.loadingBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  font-weight: 400;
  font-size: medium;
  padding: 10px 0 10px 0;
  width: 360px;
}
.errorBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  background-color: tomato;
  color: white;
  font-weight: 400;
  font-size: medium;
  padding: 10px 0 10px 0;
  width: 360px;
}
@media only screen and (max-width: 768px) {
  .temperature {
    font-size: 2em;
  }
  .heading {
    padding: 0 5px;
  }
  .row {
    width: 100%;
  }
  .cityBox {
    width: 48%;
    padding-left: 0px;
    padding: 2px;
    margin: auto;
  }
  .citiesContainer {
    padding: 0;
    gap: 1px;
    min-height: 0px;
  }
  .flex-item {
    padding: 0 5px;
  }
  .flex-item input {
    width: 80%;
  }
  .flex-item button {
    width: 20%;
  }
}
